<!DOCTYPE html>

<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="HandheldFriendly" content="true">
<meta name="theme-color" content="#FFFFFF">

<html>
  <head>
    <title>Flixter</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
      <link rel="icon" type="image/png" href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEwAACxMBAJqcGAAAAW1JREFUWIXt179LAmEcBvDne3d6V2laIdoSBDpUS1sR4eYYDq0NOrQdNDW6BNXSHxA0VEN/QkHQlJNTe2O/E4tSLuzU99uUhK9oXJlD7zM+d9zz4d5bDuhzSGqYKXK4nQFzigj+z1qzzDEErYSXEWY0SPDZw5K9CiLRERA52NwgICdJBy3ooyEv+83UnWq+mLaTXztNGhLC/tFKh+imb7G1kwDQtJFeAcjQpTcuA/44CqAACqAACqAACqAA/wvgE9w/AAmGHZuSeqPdzQZpyCZmMR2ONrtX4eLKdTyNm5qOdDQOs1LF+ncAy7E4MuMzgCb/t3iKYJRLZbw1hHSpLWDCH8T17R2Y5TPzEiJCMBCACA90BxggPnceaWVhDj7t9z4Rp17DWuGk0hVQEyJfKN0k54/3MOw3AQCTQyGE/JbncVcIXDzf4+W9utN6re0hR/a3dpkaKRJkAAATXRLw5BVAxC6YT4vZ3JHXZ/QsH+E9Y3LAjzpGAAAAAElFTkSuQmCC">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
